*{
	margin:0;padding:0;
}
.row {
  display:flex;
  flex-direction: row;
}
.row > * {
  flex: 0 0 auto;
  padding: 10px;
  margin: 10px;
}
input[type=button]::cue-region{
	border-width: 3px;
}
select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 16px 32px;
  margin: 4px 2px;
  min-width: 10em;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
select, input[type=button], input[type=submit], input[type=file] {
  border: solid;
	border-radius: 14px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
	font-size: 3rem;
	background:url("midi.png");
	background-repeat: no-repeat;
  background-size: auto;
}
.App{
	text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
