.channelCard {
  margin: 30px;
  background-color: gainsboro;
  color: black;
}
.channelCard .active {
  background-color: aqua;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
main {
  display: grid;
  grid-template-areas: 'channelP channelP''stdout info'
}
#channelContainer{
  grid-area: channelP;
}
#stdout{
  max-width: 50%;
  grid-area: stdout;
}
#info {
  grid-area: info;
}
aside {
  position: fixed; 
  top: 0; 
  right: 0;
  height: 100%; 
  width: 300px; 
  background: #2f2f2f; 
  overflow-x: hidden; 
  overflow-y: scroll; 
  padding: 20px; 
  -webkit-overflow-scrolling: touch; 
}