.channelCard {
  margin: 30px;
  background-color: gainsboro;
  color:black;
}
.channelCard .active {
  background-color: aqua;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

@for $i from 1 through 20 {
  .blue:nth-of-type(#{$i}) {
    transform: translateY(-20px * $i);
  }
}

.note {
  display: inline-block;
}

.note {
  margin-left: calc(var(--delay) * 1px);
  transform: translateY(calc(var(--midi) * 1px));
}

.main {
  display: flex;
  flex-direction: row;
  place-items: space-between;
  margin: 0 auto;
  padding: 20px;

  place-self: center;
}
#stdout {
  width: 80em;
}
/