
		.wrap-collapsible input[type='checkbox'] {
      display: none;
    }
    .collapsible-content {
      max-height: 0px;
      overflow: hidden;
    }
    .toggle:checked+.collapsible-clickaway{
      opacity: 0.1;
      z-index: 10000;

    }
    .collapsible-clickaway {
      z-index: -10000;    
      width:100vw;
      height:100vh;
      top:0;left:0;
      background-color:transparent;
      position: absolute;
      pointer-events: none; 
    }

    .toggle:checked + .lbl-toggle + .collapsible-content {
      max-height: 100vh;
    }
    .lbl-toggle {
      display: block;
      cursor: pointer;
    }
    
    .lbl-toggle:hover {
    text-decoration: underline;
    }