body{
  margin:0;
  padding:0;
}
:root{
  --timer-ticks:0;
  --ppqn: 240;
  --pxqn: 40;
  --canvas-width: 70;
}
.canvas_container {
  transform: translateX(calc(var(--timer-ticks)/var(--ppqn)*var(--pxqn) * -1px));
}
.canvas_window {
  width: calc(var(--canvas-width) * 1vw);
  position: fixed;
  right: 0;
  top: 50px;
  height: calc(100vh-50px);
  z-index: -2;
  overflow-x: hidden;
  overflow-y: scroll;
}
