input[type='checkbox'] {
  display: none;
}
.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}
.lbl-toggle {
  display: block;
  cursor: pointer;
  min-height: 30px;
}

.lbl-toggle:hover {
text-decoration: underline;
}